.viewer-wrap{
  width:100%;
  max-height: 100vh;
}

.viewer{
  // moved to js
  // font-size: 72px;
  // font-weight: bold;
  // background-color: #111;
  height:80vh;
  min-height: 340px;
  .text{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    font-family: inherit;
  }
  &:fullscreen{
    .text{
      height: auto;
    }
    .exit-full{
      display:block
    }
  }
  .exit-full{
    display: none;
    position: fixed;
    bottom: 0;
    right: 5%;
    width: 10%;
    border-radius: 1000px;
    min-width: 100px;
    cursor: pointer;
    background-color: #aaa;
    &:hover{
      opacity: 1;
    }
    font-size: 50%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    opacity: .6;
  }
}
.status{
  font-size: 80%;
}