body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul.nav{
  margin:0;
  padding: 0;
  position: fixed;
  bottom:0;
  width: 100%;
  display:flex;
  justify-content:space-around;
  li {
    display: inline-block;
  }
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px
}

*::-webkit-scrollbar-track {
  background: #aaa;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25)
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111)
}
@media all and (max-width:640px){
  *::-webkit-scrollbar {
    width: 4px;
    height: 4px
  }
}
